.header-container {
    position: fixed;
    height: 60px;
    width: 100%;

    display: flex;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;

}

.header-container > .left-side-container{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-container > .left-side-container > img {
    height: 70%;
    margin-left:10%;
}

.header-container > .middle-side-container{
    height: 100%;
    width: 50%;
    display: flex;
}

.header-container > .middle-side-container > form {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.header-container > .middle-side-container > form > input {
    height: 50%;
    width: 80%;
    padding-left: 15px;
}

.header-container > .middle-side-container > form > button {
    display: block;
    background-color: #ccc;
    border: none;
    width: 50px
}

.header-container > .right-side-container{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-container > .right-side-container > a {
    display: flex;
    text-decoration: none;
    color: #fff;
    width: 30%;
    height: 50%;
    background-color: #3F9EB6;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.header-container > .right-side-container > .user-container {
    background-color: #3F9EB6;
    height: 40px;
    width: 40px;
    border-radius: 9999px;

    margin : 0 10%;
    cursor: pointer;
}

.content-container {
    position: relative;
    top: 80px;
    min-height: calc(100% - 60px);
    width: 100%;
    display: flex;
    background-color: #fff;
}


.content-container > .left-side-container {
    width: 25%;
    display: flex;
    justify-content: center;
}

.content-container > .left-side-container > .left-side-option-container {

    width: 80%;
    height: 60%;
    border: solid 2px #3F9EB6;
    box-shadow: 0px 0px 5px #ccc;
}

.content-container > .right-side-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-container > .right-side-container > .item-card {
    width: 20%;
    height: calc(8/10 * 45%);
    background-color: #000;
    margin-right: 25px;
    margin-bottom: 5px;
}
